## testing openai key

In [4]:
from openai import OpenAI

client = OpenAI()

stream = client.chat.completions.create(
    model="gpt-4",
    messages=[{"role": "user", "content": "Tell me the capital of the USA"}],
    stream=True,
)
for chunk in stream:
    if chunk.choices[0].delta.content is not None:
        print(chunk.choices[0].delta.content, end="")

The capital of the USA is Washington D.C.

In [5]:
#api_key="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")

# Creating Table for testing purposes

In [6]:
import sqlite3
import os 
import pandas as pd

#https://datatofish.com/create-database-python-using-sqlite3/

os.chdir("C:\\Users\\jgupta\\Desktop\\")

db_name = 'tst_database-FS10.db'

conn = sqlite3.connect(db_name) 
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS stocks
          ([stock_id] INTEGER PRIMARY KEY, [stock_name] TEXT, [open_price] INTEGER, [close_price] INTEGER, [high_price] INTEGER, [low_price] INTEGER, [amount_traded] INTEGER)
          ''')

conn = sqlite3.connect(db_name) 
c = conn.cursor()
                   
c.execute('''
          INSERT INTO stocks (stock_id, stock_name, open_price, close_price, high_price, low_price, amount_traded)

                VALUES
                (1,'AAPL', 100, 120, 130, 80, 1500),
                (2,'TSLA', 42, 98, 120, 30, 300),
                (3,'MSFT', 70, 80, 85, 45, 1500),
                (4,'GOOGL', 98,128, 130, 90, 1568), 
                (5,'AMD', 65, 70, 80, 60, 100)
          ''')

conn.commit()

conn = sqlite3.connect(db_name) 
c = conn.cursor()
                   
c.execute('''
          SELECT * FROM stocks
          ''')

df = pd.DataFrame(c.fetchall())
print (df)

   0      1    2    3    4   5     6
0  1   AAPL  100  120  130  80  1500
1  2   TSLA   42   98  120  30   300
2  3   MSFT   70   80   85  45  1500
3  4  GOOGL   98  128  130  90  1568
4  5    AMD   65   70   80  60   100

# Testing Llama Index

In [7]:
from IPython.display import Markdown, display
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    select,
)
engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()
table_name = "stocks"
city_stats_table = Table(
    table_name,
    metadata_obj,
    Column("stock_id", Integer, primary_key=True),
    Column("stock_name", String(16)),
    Column("open_price", Integer),
    Column("close_price", Integer),
    Column("high_price", Integer),
    Column("low_price", Integer),
    Column("amount_traded", Integer)
)
metadata_obj.create_all(engine)

In [8]:
from llama_index import SQLDatabase, ServiceContext
from llama_index.llms import OpenAI

llm = OpenAI(temperature=0.1, model="gpt-3.5-turbo")
service_context = ServiceContext.from_defaults(llm=llm)

In [9]:
sql_database = SQLDatabase(engine, include_tables=["stocks"])
print(type(sql_database))
from sqlalchemy import insert

rows = [
    {"stock_id": "1", "stock_name": "AAPL", "open_price": 100,"close_price": 120, "high_price": 130, "low_price": 80, "amount_traded":1500},
    {"stock_id": "2", "stock_name": "TSLA", "open_price": 42,"close_price": 98, "high_price": 120, "low_price": 30, "amount_traded":300},
    {"stock_id": "3", "stock_name": "MSFT", "open_price": 70,"close_price": 80, "high_price": 85, "low_price": 45, "amount_traded":1500},
    {"stock_id": "4", "stock_name": "GOOGL", "open_price": 98,"close_price": 128, "high_price": 130, "low_price": 90, "amount_traded":1568},
    {"stock_id": "5", "stock_name": "AMD", "open_price": 65,"close_price": 70, "high_price": 80, "low_price": 60, "amount_traded":100},
]
for row in rows:
    stmt = insert(city_stats_table).values(**row)
    with engine.begin() as connection:
        cursor = connection.execute(stmt)

<class 'llama_index.utilities.sql_wrapper.SQLDatabase'>

In [10]:
"""
stmt = select(
    city_stats_table.c.city_name,
    city_stats_table.c.population,
    city_stats_table.c.country,
).select_from(city_stats_table)

with engine.connect() as connection:
    results = connection.execute(stmt).fetchall()
    print(results)
"""

'\nstmt = select(\n    city_stats_table.c.city_name,\n    city_stats_table.c.population,\n    city_stats_table.c.country,\n).select_from(city_stats_table)\n\nwith engine.connect() as connection:\n    results = connection.execute(stmt).fetchall()\n    print(results)\n'

In [11]:
from sqlalchemy import text

with engine.connect() as con:
    rows = con.execute(text("SELECT stock_name from stocks"))
    for row in rows:
        print(row)

('AAPL',)
('TSLA',)
('MSFT',)
('GOOGL',)
('AMD',)

In [12]:
#OpenAI.api_key = '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'
from llama_index.indices.struct_store.sql_query import NLSQLTableQueryEngine

query_engine = NLSQLTableQueryEngine(
    sql_database=sql_database,
    tables=["stocks"],
)
query_str = "Describe the table"
response = query_engine.query(query_str)

In [13]:
response

Response(response='The table contains 5 rows.', source_nodes=[NodeWithScore(node=TextNode(id_='a9bb3252-c4f8-4c2e-a1d3-17a275c1ff3d', embedding=None, metadata={}, excluded_embed_metadata_keys=[], excluded_llm_metadata_keys=[], relationships={}, hash='c0567d4e7158a01f2ad01c44800f6612df0406719e751ab25ce3ea5e340b2e50', text='[(5,)]', start_char_idx=None, end_char_idx=None, text_template='{metadata_str}\n\n{content}', metadata_template='{key}: {value}', metadata_seperator='\n'), score=None)], metadata={'a9bb3252-c4f8-4c2e-a1d3-17a275c1ff3d': {}, 'sql_query': 'SELECT COUNT(*) FROM stocks;', 'result': [(5,)], 'col_keys': ['COUNT(*)']})

In [14]:
display(Markdown(f"<b>{response}</b>"))

<b>The table contains 5 rows.</b>

In [15]:
import os
os.getenv('OPENAI_API_KEY')

'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'

In [16]:
#https://docs.llamaindex.ai/en/stable/examples/index_structs/struct_indices/SQLIndexDemo.html

# Langchain - SQLDataBaseChain

In [19]:
from langchain.llms import OpenAI
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
os.chdir("C:\\Users\\jgupta\\Desktop\\")
db = SQLDatabase.from_uri("sqlite:///tst_database-FS.db")
llm = OpenAI(temperature=0, verbose=True, model="gpt-3.5-turbo-instruct")
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)

In [20]:
db_chain.run("Describe the table")

> Entering new SQLDatabaseChain chain...
Describe the table
SQLQuery:SELECT stock_id, stock_name, open_price, close_price, high_price, low_price, amount_traded FROM stocks LIMIT 5
SQLResult: [(1, 'AAPL', 100, 120, 130, 80, 1500), (2, 'TSLA', 42, 98, 120, 30, 300), (3, 'MSFT', 70, 80, 85, 45, 1500), (4, 'GOOGL', 98, 128, 130, 90, 1568), (5, 'AMD', 65, 70, 80, 60, 100)]
Answer:The table contains information about stocks, including their stock ID, name, opening price, closing price, high price, low price, and amount traded.
> Finished chain.

'The table contains information about stocks, including their stock ID, name, opening price, closing price, high price, low price, and amount traded.'

# LangChain- Agent

In [23]:
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.agents.agent_types import AgentType

db = SQLDatabase.from_uri("sqlite:///tst_database-FS.db")

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0, model="gpt-3.5-turbo-instruct", verbose=True),
    toolkit=SQLDatabaseToolkit(db=db, llm=OpenAI(temperature=0)),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [24]:
agent_executor.run("Describe the table")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input:
Observation: stocks
Thought: I should query the schema of the stocks table.
Action: sql_db_schema
Action Input: stocks
Observation:
CREATE TABLE stocks (
	stock_id INTEGER,
	stock_name TEXT,
	open_price INTEGER,
	close_price INTEGER,
	high_price INTEGER,
	low_price INTEGER,
	amount_traded INTEGER,
	PRIMARY KEY (stock_id)
)

/*
3 rows from stocks table:
stock_id	stock_name	open_price	close_price	high_price	low_price	amount_traded
1	AAPL	100	120	130	80	1500
2	TSLA	42	98	120	30	300
3	MSFT	70	80	85	45	1500
*/
Thought: I now know the final answer
Final Answer: CREATE TABLE stocks (
	stock_id INTEGER,
	stock_name TEXT,
	open_price INTEGER,
	close_price INTEGER,
	high_price INTEGER,
	low_price INTEGER,
	amount_traded INTEGER,
	PRIMARY KEY (stock_id)
)

/*
3 rows from stocks table:
stock_id	stock_name	open_price	close_price	high_price	low_price	amount_traded
1	AAPL	100	120	130	80	1500
2	TSLA	42	98	120	30	300
3	MSFT	70	80	85	45	1500
*/

> Finished chain.

'CREATE TABLE stocks (\n\tstock_id INTEGER, \n\tstock_name TEXT, \n\topen_price INTEGER, \n\tclose_price INTEGER, \n\thigh_price INTEGER, \n\tlow_price INTEGER, \n\tamount_traded INTEGER, \n\tPRIMARY KEY (stock_id)\n)\n\n/*\n3 rows from stocks table:\nstock_id\tstock_name\topen_price\tclose_price\thigh_price\tlow_price\tamount_traded\n1\tAAPL\t100\t120\t130\t80\t1500\n2\tTSLA\t42\t98\t120\t30\t300\n3\tMSFT\t70\t80\t85\t45\t1500\n*/'

In [ ]:
#Huggingface =